<%content_for :title do%>
	- Trabalhe Conosco!
<%end%>

<%content_for :head do%>
	<%= stylesheet_link_tag "trabalhe" %>
	
	<script type="text/javascript"> 
		$(document).ready(function() {
			$('.menu-oque').mouseenter(function() {
				$('#menu-oque-over').fadeToggle("fast", "linear").removeClass("hide");})
				$('#menu-oque-over').mouseleave(function(){
				$('#menu-oque-over').fadeToggle("fast", "linear").addClass("hide");
			})

			$('.menu-empresa').mouseenter(function() {
				$('#menu-empresa-over').fadeToggle("fast", "linear").removeClass("hide");})
				$('#menu-empresa-over').mouseleave(function(){
				$('#menu-empresa-over').fadeToggle("fast", "linear").addClass("hide");
			})

			$('.menu-servicos').mouseenter(function() {
				$('#menu-servicos-over').fadeToggle("fast", "linear").removeClass("hide");})
				$('#menu-servicos-over').mouseleave(function(){
				$('#menu-servicos-over').fadeToggle("fast", "linear").addClass("hide");
			})

			$('.menu-contato').mouseenter(function() {
				$('#menu-contato-over').fadeToggle("fast", "linear").removeClass("hide");})
				$('#menu-contato-over').mouseleave(function(){
				$('#menu-contato-over').fadeToggle("fast", "linear").addClass("hide");
			})

		})
	</script>
<%end%>

<article>
	<div id='tit-contato'>
    	<img src="/images/tit-trabalhe.png" border="0">
    </div>
	<%=form_for (@work, :html => { :multipart => :true }) do |f|%>
		<label>Nome</label>
		<%=f.text_field :nome, :class => "input #{@error_nome}"%><br />
		
		<label>E-mail</label>
		<%=f.text_field :email, :class => "input #{@error_email}"%><br />
		
		<label>Telefone</label>
		<%=f.text_field :telefone, :class => "input #{@error_telefone}"%><br />
				
		<label class="empresa">Currículo*</label>
	    <input id="fakeupload" name="fakeupload" class="fakeupload"  type="text" />
		<%= f.file_field :curriculum, :class => "realupload", :onchange => "this.form.fakeupload.value = this.value;"  %>
	    <span>*Apenas .DOC ou .PDF</span>
		
		<label>Mensagem</label>
		<%=f.text_area :mensagem, :class => " #{@error_mensagem}"%><br />
		

		<%=image_submit_tag "bt-enviar.png", :style => "border:none; background:transparent; width:175px; height:53px; !important"%>
	<%end%>
	<!-- 
    <form>
    	<label>Nome</label>
        <input name="nome" type="text" id='nome' class="input"><br>
        <label>E-mail</label>
        <input name="email" type="text" id='email' class="input"><br>
        <label>Telefone</label>
        <input name="telefone" type="text" id='telefone' class="input"><br>
        <label class="empresa">Currículo*</label>
        <input id="fakeupload" name="fakeupload" class="fakeupload"  type="text" />
		<input id="realupload" name="realupload" class="realupload" type="file" onchange="this.form.fakeupload.value = this.value;" />
        <span>*Apenas .DOC ou .PDF</span>
        <label class="mensagem">Mensagem</label>
        <textarea name="mensagem" id='mensagem' cols="" rows=""></textarea><br>
        <img class='bt_enviar' src="/images/bt-enviar.png" border="0">
    </form> -->
</article>
<aside>
	<img src="/images/img-aside-trabalhe.png" border="0">
</aside>