<!doctype html>
<html lang="pt-br"
<head>
	<meta charset="utf-8">
	<link rel=”icon” href=”images/ico_faviconnautilus.ico” />
	<META name='description' content='Soluções em cloud para otimizar o trabalho em sua empresa. Opções para que você e seus funcionários acessem os projetos de qualquer dispositivo móvel com segurança. Otimize seu trabalho. Acesse para saber mais.'>
	<META name='author' content='Sato7 - Comunicação Estratégica'>
	<META name='language' content='portuguese'>
	<META name='keywords' content='cloud, solution, segurança, economia, mobilidade, sustentabilidade, microsoft, office 365, ceu, system, office web apps, office professional plus, Office Communications, Live Meeting, Lync Online, cloud computing'>
	<title>Ceu System : Cloud Solution <%=yield :title%></title>
	<%= javascript_include_tag "html5.js" %>
	<%= javascript_include_tag "jquery.js" %>
	<%= javascript_include_tag "modernizr.js" %>
	<%= javascript_include_tag "video.js" %>
	<%= stylesheet_link_tag "video-js" %>
	<link rel="icon" type="image/png" href="/images/icon.ico" />
	<%=yield :head%>
		<%= stylesheet_link_tag "style" %>
	
	<script type="text/javascript">
		var d = new Date();
		var h = d.getHours();
		if ((h >= 6) && (h< 18)){
			document.write('<%= stylesheet_link_tag "dia" %>');
		}
	</script>
	<!--[if IE 7]>
			<%= stylesheet_link_tag "ie8" %>
	        <link href="css/ie7.css" rel="stylesheet" type"text/css" media="all">
	<![endif]-->
	<!--[if IE 8]>
			<%= stylesheet_link_tag "ie8" %>
	        <link href="css/ie8.css" rel="stylesheet" type"text/css" media="all">
	<![endif]-->
		<%= csrf_meta_tag %>
		<meta property="go:image" content="http://www.ceusystem.com.br/images/selofb.jpg" />
		
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-25811568-4']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
</head>
<body>
	<section>
    	<%=render :file => "/layouts/_header.html.erb"%>
        
        <%= yield %>
    </section>
	<%=render :file => "/layouts/_footer.html.erb"%>
</body>
</html>
